<div class="hero min-h-screen" style="background-image: url('<%= asset_path('topbgimg.jpg') %>'); background-size: contain;">
  <div class="hero-content text-center">
    <div class="max-w-xl flex-col justify-center">
      <div class=' w-full bg-white border border-4 border-green-700 rounded'>
        <h1 class="max-w-lg font-bold text-7xl text-green-700 md:text-9xl">BallMate</h1>
        <p class="py-6 text-xl md:text-3xl">サッカーをするためにつながる。</p>
      </div>
      <div class="mt-20 p-2 max-w-lg border border-4 border-green-700 bg-gray-50 rounded">
        <h1 class="text-4xl font-bold text-primary pb-4">BallMateとは</h1>
        <p class="py-4 text-lg">新たな仲間を見つけるのにチームに入ったりするより</p>
        <p class="py-4 text-lg">もっとラフな形で</p>
        <p class="py-4 text-lg">サッカーが好きがボールで誰かと繋がれる。</p>
      </div>
      <div class="my-20 p-2 max-w-lg border border-4 border-green-700 bg-gray-50 rounded">
        <h1 class="text-4xl font-bold pb-6 text-center">使い方</h1>
        <ol class="flex flex-col list-inside text-left">
          <li type="1", class="py-2">プロフィール名を登録。</li>
          <li type="1", class="py-2">気になる相手orマッチングにチャット申請。</li>
          <li type="1", class="py-2">マッチングした相手とチャットで予定を決める。</li>
          <li type="1", class="py-2">マッチした相手とグループを作って新たな出会いの機会を。</li>
        </ol>
      </div>
      <div class='flex-col max-w-lg bg-white border border-4 border-green-700 rounded'>
        <p class=' py-4 text-center text-2xl font-bold'>リアルタイムチャット機能</p>
        <div class='flex'>
          <div class="w-1/2">
            <p>個人チャット画面</p>
            <%= image_tag "chatdemoimage.png", class: "w-full" %>
          </div>
          <div class="w-1/2">
            <p>グループチャット画面</p>
            <%= image_tag "longchatdemo.png", class: "w-full" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>