<div class="hero min-h-screen bg-">
  <div class="hero-content text-center">
    <div class="max-w-lg">
      <h1 class="text-7xl font-bold md:text-9xl">BallMate</h1>
      <p class="py-6 text-xl md:text-3xl">サッカーするためにつながる</p>
      <button class="btn btn-primary"><%= link_to 'ログイン', login_path %></button>
      <button class="btn btn-neutral"><%= link_to 'ユーザー登録', new_user_path %></button>
      <button class="btn btn-secondary">button</button>
      <button class="btn btn-accent">button</button>
      <button class="btn btn-neutral">button</button>
      <button class="btn btn-outline">button</button>
    </div>
  </div>
</div>