<div class="hero min-h-screen bg-base-200">
  <div class="hero-content">
    <div class="max-w-mb">
      <h1 class="text-5xl font-bold pb-6 text-center">使い方</h1>
        <ol class="flex flex-col">
          <li type="1", class="py-2">プロフィール名を登録。</li>
          <li type="1", class="py-2">気になる相手orマッチングにチャット申請。</li>
          <li type="1", class="py-2">マッチングした相手とチャットで予定を決める。</li>
          <li type="1", class="py-2">マッチした相手とグループを作って新たな出会いの機会を。</li>
        </ol>
    </div>
  </div>
</div>