<div class='chat chat-start' id="message-<%= message.id %>">
  <div>
    <div class="chat-header">
      <p><%= "#{message.user.user_profile.name}" %></p>
    </div>
    <div class='chat-bubble chat-bubble-primary message'>
      <p><%= message.text %></p>
    </div>
  </div>
</div>
