
  <div class='chat chat-end' id="message-<%= message.id %>">
    <div>
      <div class="chat-header">
        <p><%= "#{message.user.user_profile.name}" %></p>
      </div>
      <div class="indicator">
        <div class='chat-bubble chat-bubble-primary'>
          <div class='message'>
            <%= simple_format(message.text) %>
          </div>
        </div>
        <span class="indicator-item badge badge-sm delete-message" data-message-id="<%= message.id %>">
          <i class="fas fa-times"></i>
        </span>
      </div>
    </div>
  </div>
