<% if message.user.id != current_user.id %>
  <div class='chat chat-start'>
<% else %>
  <div class='chat chat-end'>
<% end %>
    <div class="chat-header">
      <p><%= "#{message.user.user_profile.name}" %></p>
    </div>
    <div class='chat-bubble'>
      <div class='message'>
        <p><%= "#{message.text}" %></p>
      </div>
    </div>
  </div>