<div class="row">
  <div class="col-12">
    <div class="row">
      <%= render 'matchings/search', q: @q, url: (action_name == 'index' ? matchings_path : send("#{action_name}_path")) %>
      <% if @matchings.present? %>
        <%= render @matchings %>
      <% else %>
        <p><%= 'マッチングは存在しません' %></p>
      <% end %>
      <%= paginate @matchings %>
    </div>
  </div>
</div>