<% content_for(:title, t('.title')) %>
<div class="min-h-screen">
  <div class="overflow-x-auto">
    <table class="table">
      <%= render 'matchings/search', q: @q, url: (action_name == 'index' ? matchings_path : send("#{action_name}_path")) %>
      <div class="divider"></div>
      <tbody>
        <% if @matchings.present? %>
          <% @matchings.each_slice(2) do |matching_pair| %>
            <tr>
              <% matching_pair.each do |matching| %>
                <td>
                  <%= render matching %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2">
              <p><%= 'マッチングは存在しません' %></p>
            </td>
          </tr>
        <% end %>
      </tbody>
      <%= paginate @matchings %>
    </table>
  </div>
</div>
