<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(notification.visitor) do %>
        <strong><%= notification.visitor.name %></strong>
      <% end %>
      さんが
      <% case notification.action %>
        <% when 'follow' then %>
          <p>あなたにチャット申請を送信しました。</p>
        <% when 'approve' then %>
          <p>あなたのチャット申請を承認しました。マッチ済みユーザーを確認してみましょう！</p>
      <% end %>
    </span>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
  <hr>
</div>
