<% content_for(:title, t('.title')) %>
<div class="min-h-screen">
  <div class="overflow-y-auto container mx-auto">
    <table class="table">
      <div class="divider"></div> 
      <tbody>
        <% if @notifications.present? %>
          <%= render @notifications %>
        <% else %>
          <p>通知はありません</p>
        <% end %>
      </tbody>
      <%= paginate @notifications %>
    </table>
  </div>
</div>