<div class="row">
  <div class="col-12">
    <div class="row">
    <%= render 'users/search', q: @q, url: (action_name == 'index' ? users_path : send("#{action_name}_path")) %>
      <% if @users.present? %>
        <%= render @users %>
      <% else %>
        <p><%= 'ユーザーはいません' %></p>
      <% end %>
    </div>
  </div>
</div>