<div class="row">
  <div class="col-12">
    <div class="row">
      <% if @users.present? %>
        <%= render @users %>
      <% else %>
        <p><%= 'ユーザーはいません' %></p>
      <% end %>
    </div>
  </div>
</div>