<footer class="bg-gray-200 ">
  <p class="p-2 text-center text-xs">Copyright BallMate</p>
  <div class="flex justify-center">
    <p class="p-2 text-center text-xs"><%= link_to '利用規約', '#' %></p>
    <p class="p-2 text-center text-xs"><%= link_to 'お問合せ', '#' %></p>
  </div>
</footer class="bg-gray-200">