<footer class="bg-gray-200 ">
  <p class="p-2 text-center text-xs">Copyright BallMate</p>
  <div class="flex justify-center">
    <p class="p-2 text-center text-xs"><%= link_to 'プライバシーポリシー', privacypolicy_path %></p>
    <p class="p-2 text-center text-xs"><%= link_to 'お問合せ', 'https://docs.google.com/forms/d/e/1FAIpQLSfeHY6RsrU-bmTBjs-AMLLxbPzY4YBkt4cxscGjdgAGkoYoNw/viewform?usp=sf_link' %></p>
  </div>
</footer class="bg-gray-200">