<div class="dropdown">
  <label tabindex="0" class="btn m-1">マッチングリスト</label>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    <li><%= link_to 'マッチングを探す', matchings_path, class: 'btn btn-xs sm:btn-sm md:btn-md lg:btn-lg' %></li>
    <li><%= link_to 'マッチ済みマッチング', matched_matchings_path, class: 'btn btn-xs sm:btn-sm md:btn-md lg:btn-lg' %></li>
    <li><%= link_to '申請中マッチング', requested_matchings_path, class: 'btn btn-xs sm:btn-sm md:btn-md lg:btn-lg' %></li>
    <li><%= link_to '承認待ちユーザー', approval_pending_matchings_path, class: 'btn btn-xs sm:btn-sm md:btn-md lg:btn-lg' %></li>
  </ul>
</div>